EMAIL_BACKEND=подключаемдвижокfilebased.EmailBackend
EMAIL_DOMAIN=ТвойДомен
EMAIL_HOST=Хост,которыйбудетиспользоватьсядляотправкиэлектроннойпочты.
EMAIL_PORT=Порт,используемыйдляSMTP-сервера,определенноговEMAIL_HOST.
EMAIL_HOST_USER=Имяпользователя,используемоедляSMTP-сервера,определенноговEMAIL_HOST
EMAIL_HOST_PASSWORD=nwogltpqmgsggepo
EMAIL_USE_SSL=true
POSTGRES_USER=твоеИмя
POSTGRES_PASSWORD=твойПароль
DB_HOST=db
DB_PORT=порт
DB_ENGINE=движокБДпроекта
POSTGRES_DB=имябазы